<!DOCTYPE html>
<html lang="es">

<head>
	<title>{{tituloPagina}}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/assets/css/main.css" />
</head>

<body class="subpage">
	<!-- Header -->
	<header id="header">
		<div class="logo"><a href="/models/">Control de presupestos </a></div>
		<a href="#menu">Menu</a>
	</header>

	<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="/">Inicio</a></li>
			<li><a href="/nuevo_Perfil">Crear perfil</a></li>
			<li><a href="/iniciarSesion">Acceder a mi cuenta</a></li>
		</ul>
	</nav>

	<!-- One -->
	<section id="One" class="wrapper style3">
		<div class="inner">
			<header class="align-center">
				<p>Control de usuarios</p>
				<h2>{{Accion}}</h2>
			</header>
		</div>
	</section>

	<div class="contenido-principal contenedor">
		{{#if message}}
		<div class="align-center errores">
			<p>{{message.error}}</p>
		</div>

		{{/if}}

		{{{body}}}
	</div>

	<!-- Footer -->
	<footer id="footer">
		<div class="container">
			<ul class="icons">
				<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
			</ul>
		</div>
		<div class="copyright">
			&copy; Untitled. All rights reserved.
		</div>
	</footer>

	<!-- Scripts -->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/jquery.scrollex.min.js"></script>
	<script src="/assets/js/skel.min.js"></script>
	<script src="/assets/js/util.js"></script>
	<script src="/assets/js/main.js"></script>
	{{!-- Webpack bundle --}}
	<script src="/dist/bundle.js"></script>

</body>

</html>