<main>
    <link rel="stylesheet" href="/assets/css/main.css" />
    <br><br>
    <form method="POST" action="/presupuesto/nuevoPresupuesto">
        <br>
        <div class="align-center">
            <h3><strong>Crea un nuevo presupuesto</strong></h3>
        </div>
        <div class="row uniform">
            <div class="4u 12u$(small) align-center">
                <label for="concepto">por concepto de:</label>
                <input required type="text" name="concepto" id="concepto"
                    placeholder="Ingresa el concepto del presupuesto" />
            </div>

            <div class="4u 12u$(small) align-center">
                <div class="select-wrapper">
                    <label for="cantidad">Cantidad</label>
                    <input required type="number" min="1" pattern="^[0-9]+" name="cantidad" id="cantidad"
                        placeholder="Ingresa el costo estimado" />
                </div>
            </div>
            <div class="4u 12u$(small) align-center">
                <label for="fecha">Fecha</label>
                <input required type="month" min="2019-10" name="fecha" id="fecha" placeholder="Ingresa el mes" />
            </div>
            <div class="12u$">
                <label for="fecha">Selecciona una categoria</label>
                <div class="select-wrapper">
                    <select required name="categoria" id="categoria">
                        <option value="" disabled>Selecciona una opción</option>
                        {{#each lasCategorias}}
                        <option value="{{_id}}">{{nombre}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>


            <!-- Break -->
            <div class="12u$">
                <input type="submit" value="Guardar presupuesto" />
            </div>
        </div>
    </form>

</main>