<main>
    <link rel="stylesheet" href="/assets/css/main.css" />
    <br><br>
    <form method="POST" action="/categoria/nuevaCategoria">
        <br>
        <div class="align-center">
            <h3><strong>Crea tus categorias</strong></h3>
        </div>
        <div class="row uniform">
            <div class=" 12u$">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" placeholder="Ingresa el nombre de la categoria" required />
            </div>

            <div class="12u$">
                <div class="select-wrapper">
                    <label for="correo">Descripción</label>
                    <input type="text" name="descripcion" id="descripcion"
                        placeholder="Ingresa una breve descripción de la categoria" />
                </div>
            </div>

            <!-- Break -->
            <div class="12u$">
                <input type="submit" value="Guardar categoria" />

            </div>
        </div>
    </form>

</main>