<main>
    <form method="POST" action="/iniciarSesion">
        <br>
        <div>
            <h3 class="align-center">Credenciales de acceso</h3>
        </div>
        <div class="row uniform">
            <div class="6u 12u$(xsmall) ">
                <label for="correo">correo</label>
                <input type="email" name="correo" id="correo" placeholder="Ingresa tu correo" required />
                <label for="password">password</label>
                <input type="password" name="password" id="password" placeholder="Ingresa tu Contraseña" required />

            </div>
            <div></div>
            <a class="button2" href="/restablecerPassword">Olvidé mi contraseña</a>
            <a class="button2" href="/nuevo_perfil">Crear una cuenta </a>

            <!-- Break -->
            <div class="12u$">

                <input type="submit" value="Ingresar a mi cuenta" />

            </div>
        </div>



    </form>
</main>