<main>
	<!-- One -->
	<section id="one" class="wrapper style2">
		<div class="inner">
			<div class="grid-style">
				<div>
					<div class="box">
						<div class="image fit">
							<img src="images/pic02.jpg" alt="" />
						</div>
						<div class="content">
							<header class="align-center">
								<p>Controla tus finanzas</p>
								<h2>Crea un nuevo perfil</h2>
							</header>
							<p>Podrás controlar tus finanzas y llevar un control de tus finanzas
								de manera fácil y de manera gratuita.
							</p>
							<footer class="align-center">
								<a href="/nuevo_perfil" class="button alt">Crear Perfil</a>
							</footer>
						</div>
					</div>
				</div>

				<div>
					<div class="box">
						<div class="image fit">
							<img src="images/pic03.jpg" alt="" />
						</div>
						<div class="content">
							<header class="align-center">
								<p>Descubre y crea</p>
								<h2>Accede a tu cuenta</h2>
							</header>
							<p>Ingresa a tu espacio personal, y crea un mundo de oportunidades o actualiza tu
								presupuesto.</p>
							<footer class="align-center">
								<a href="/iniciarSesion" class="button alt">Acceder</a>
							</footer>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="two" class="wrapper style3">
		<div class="inner">
			<div class="align-center">
				<h2>¿Qué es control de presupuestos?</h2>
			</div>
		</div>
	</section>
	<div class="box align-center">
		<p class="contenido">
			Control de presupuestos, es una herramienta que te permite manejar tus ingresos y los gastos
			que realizas, todo esto con el objetivo de ayudarte a llevar un control sobre los movientos
			que realiza tu dinero.

		</p>
		<p class="contenido">
			Recuerda ue debes cuidar de tu dinero, y administrarlo de manera correcta y sabia, así evitarás
			sumergirte en malas decisiones que hagan que tu economía empeore o que contraigas más compromisos de
			los que puedas manejar.
		</p>

	</div>

	<section id="two" class="wrapper style3">
		<div class="inner">
			<div class="align-center">
				<h2>¿Qué necesitas hacer?</h2>
			</div>
		</div>
	</section>
	<div class="box align-center">
		<ul>
			<li>
				<p class="contenido">Primero ingresa a tu cuenta personal, si aún no la tienes puedes crearla de manera
					fácil y gratuita.</p>
			</li>
			<li>
				<p class="contenido">Ingresa las categorias que contemplas divides tus gastos como:</p>
				<ul class="contenido">
					<li>Alimentación</li>
					<li>Estudios</li>
					<li>Servicios públicos... entre otros</li>
				</ul>
				<p class="contenido">tu tienes la libertar de asignar las que tu creas convenientes.</p>

			</li>
			<li>
				<p class="contenido"> Luego ingresa el costo de tus categorias, y puedes ver el total de tus costos</p>
			</li>
			<li>
				<p class="contenido">Luego puedes modificar o eliminar los registros en tu presupuesto y consultarlos
					cuando quieras y donde
					te encuentres; es una herramienta wue siempre estará al alcande de tu mano.
				</p>
			</li>
		</ul>

	</div>

	<!-- Two -->
	<section id="two" class="wrapper style3">
		<div class="inner">
			<header class="align-center">
				<p>Si quieres conocer más acerca de finanzas sanas, puedes visitar y consultar en los siguientes sitios
				</p>
				<h2>Finanzas saludables</h2>
			</header>
		</div>
	</section>
	<div class="box align-center">

		<a href="" class="button2">Fomenta el arte de ahorrar</a>
		<a href="" class="button2">Usa las targetas de crédito sabiamente</a>
		<a href="" class="button2">Define prioridades financieras</a>



	</div>

	<!-- Three -->
	<section id="three" class="wrapper style2">
		<div class="inner">
			<header class="align-center">
				<p class="special">Todos los derechos reservados</p>
				<h2>Control de presupuestos</h2>
			</header>

		</div>
	</section>
</main>